.img {
  border-radius: 50px;
  max-height: 500px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .img {
    max-height: 400px;
  }
}
@media (max-width: 375px) {
  .img {
    max-height: 325px;
  }
}
.img_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
