.section {
	padding: 25px 15px;
	font-family: var(--font-family);
	color: var(--secondary-color);
	background-color: var(--modal-background);
	border: 1px solid rgba(160, 160, 160, 1);
	border-radius: var(--section-border-radius);

	.title {
		font-size: 24px;
		font-weight: 400;
		line-height: 29.26px;
		text-align: left;
		margin-bottom: 32px;
	}
	.count {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		font-weight: 400;
		line-height: 19.5px;
		text-align: left;
		margin-bottom: 32px;
	}
	.delivery {
		align-items: center;
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		font-weight: 400;
		line-height: 19.5px;
		text-align: left;
		margin-bottom: 32px;
		h4 {
			text-align: right;
		}
	}
	.price {
		margin: 32px 0;
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		font-weight: 400;
		line-height: 19.5px;
		text-align: left;
		margin-bottom: 32px;
	}
	.button {
		margin-bottom: 32px;
		cursor: pointer;
		background-color: var(--button-submit);
		border: 1px solid var(--button-submit);
		width: 100%;
		color: var(--primary-color);
		font-family: var(--font-family);
		font-size: 15px;
		font-weight: 400;
		line-height: 27.5px;
		border-radius: var(--button-border-radius);
		padding: 15px;
		transition: all var(--transition-ms);
		&:hover {
			background-color: var(--primary-color);
			color: var(--secondary-color);
		}
	}
}
.footer {
	margin-top: 32px;

	&_title {
		font-size: 10px;
		font-weight: 400;
		line-height: 27.5px;
		text-align: left;
		color: var(--subtext-color);
		margin-bottom: 5px;
	}
	.link {
		color: var(--link-color);
		font-size: 10px;
		font-weight: 400;
		line-height: 27.5px;
		text-align: left;
		text-decoration: none;
		cursor: pointer;
	}
}
@media (max-width: 540px) {
	.section {
		padding: 15px;
		.title {
			font-size: 18px;
			line-height: 100%;
			margin-bottom: 15px;
		}
		.count,
		.delivery {
			font-size: 14px;
			line-height: 100%;
			margin-bottom: 15px;
		}
		.price {
			margin: 15px 0;
		}
		.button {
			margin-bottom: 15px;
			font-size: 12px;
			line-height: 100%;
		}
		.footer {
			margin-top: 15px;
		}
		.link,
		.footer_title {
			line-height: 100%;
		}
	}
}
