.section {
  background-image: url("../../img//DescriptionBlock/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: var(--font-family);
  &_content {
    padding: 50px 15px;
    margin: 0 auto;
    max-width: var(--content-max-width);
  }
  &_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  @media (max-width:480px) {
    &_content{
      padding: 35px 15px;
    }
    &_title{
      font-size: 22px;
    }
    
  }
  &_list{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

}
