.section {
  font-family: var(--font-family);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  border-radius: var(--button-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all var(--transition-ms);
  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  &.active {
    transform: scale(1.2);
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}
.disable {
  background-color: var(--subtext-color);
  border: 1px solid var(--subtext-color);
  font-family: var(--font-family);
  color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 19.5px;
  border-radius: var(--button-border-radius);
  cursor: pointer;
}
