.section {
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: var(--font-family);
  position: sticky;
  top: 55px;
  z-index: 10;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 840px) and (min-height: 600px) {
  .section {
    top: 110px;
  }
}
.section_content {
  padding: 15px 0;
  max-width: var(--content-max-width);
  margin: 0 auto;
}
@media (max-width: 1080px) {
  .section_content {
    padding: 5px 15px;
  }
}
.title_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all var(--transition-ms);
}
.title_list {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.title {
  font-size: 16px;
  font-weight: 400;
  transition: all var(--transition-ms);
  text-transform: uppercase;
  &.active {
    color: var(--primary-color);
    filter: drop-shadow(0 0 3px var(--secondary-color));
  }
}
.title_img {
  width: 20px;
  height: 20px;
  transition: all var(--transition-ms);
  &.active {
    filter: invert(1) drop-shadow(0 0 3px var(--secondary-color));
  }
}

.main_filter {
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: height var(--transition-ms);

  &.active {
    transition: height var(--transition-ms), opacity 1s;
    height: 250px;
    pointer-events: all;
    opacity: 1;
    margin: 15px;
    overflow: auto;
  }
}
.main_filter_content {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}

.menu_title {
  font-size: 16px;
  color: var(--secondary-color);
  text-transform: uppercase;
  transition: all var(--transition-ms);
  font-weight: 600;
}
.category_title {
  font-size: 16px;
  color: var(--subtext-color);
  cursor: pointer;
  transition: all var(--transition-ms);
  margin-left: 10px;
  margin-top: 5px;
  &.active {
    font-weight: 600;
  }
}
.header_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all var(--transition-ms);
  &.active {
    filter: invert(1) drop-shadow(0 0 3px var(--secondary-color));
    margin-bottom: 10px;
  }
}

.main_sort {
  height: 0px;
  opacity: 0;
  pointer-events: none;
  transition: height var(--transition-ms);
  display: flex;
  justify-content: center;

  &.active {
    transition: height var(--transition-ms), opacity 1s;
    height: 250px;
    pointer-events: all;
    opacity: 1;
    margin: 15px;
    overflow: auto;
  }
}

.main_sort_text {
  font-size: 16px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all var(--transition-ms);
  margin-left: 10px;
  margin-top: 5px;

  &.active {
    font-weight: 600;
  }
}
.open_img {
  width: 20px;
  height: 20px;
}
.collumn_menu {
  width: 175px;
  padding: 0 5px;
  border-left: 1px solid var(--subtext-color);
}

@media (max-width: 540px) {
  .filter_title {
    font-size: 18px;
  }
  .title {
    font-size: 14px;
  }
  .title_img {
    width: 15px;
    height: 15px;
  }
  .collumn_menu{
    width: 45%;
  }
}
@media (max-width: 420px) {
  .header_section {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
  }
}
