.wrapper {
  background: var(--header-background);
  padding: 15px;
  color: var(--header-color);
}
.content {
  max-width: 1080px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  border-radius: var(--button-border-radius);
  padding: 10px 35px;
  background-color: var(--header-selected);
  color: var(--header-color);
  border: 0;
  outline: none;
  cursor: pointer;
}
