.wrapper {
  background: var(--header-background);
  padding: 0px 15px;
  position: sticky;
  z-index: 3;
  top: 0;
}
.content {
  margin: 0 auto;
  max-width: var(--content-max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-color);
  font-family: var(--font-family);
  &_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
  }
}
.button {
  border-radius: var(--button-border-radius);
  padding: 10px 35px;
  background-color: var(--header-selected);
  color: var(--header-color);
  border: 0;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: var(--font-family);
  font-size: 14px;
  transition: all var(--transition-ms);

  &:hover {
    background-color: var(--header-color);
    color: var(--header-selected);
  }
}
.text {
  font-weight: 800;
  font-size: 14px;
}
@media (max-width: 540px) {
  .text {
    display: none;
  }
}
.img {
  width: 36px;
  height: 36px;

  &_text {
    border-radius: var(--button-border-radius);
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    width: 20px;
    /* padding: 0px; */
    background-color: var(--primary-color);
    box-shadow: 0 0 2px var(--secondary-color);
    transform: translate(25px, 19px);
    text-align: center;
  }
}
.cart {
  transition: filter var(--transition-ms);
  cursor: pointer;
  &:hover {
    filter: invert(100%);
  }
}
.active {
  animation: up 0.5s alternate;
}
.menu_hamburger {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
  gap: 5px;
  cursor: pointer;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
    filter: invert(100%);
  }
  100% {
    transform: translateY(0);
    filter: invert(0);
  }
}

.hamburger,
.close {
  
  display: none;
  // transition: opacity var(--transition-ms);
  width: 20px;
  height: 20px;
  &.active {

    display: block;
  }
}
