.section {
	font-family: var(--font-family);
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding: 35px 15px;
	text-align: center;
	display: flex;
	gap: 35px;
	flex-direction: column;
	.hr {
		width: 100%;
	}
	.title {
		font-size: 32px;
		font-weight: 600;
		line-height: 41.02px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 35px;
	}
	.img {
		max-width: 100%;
		cursor: pointer;
		max-height: 600px;
		cursor: pointer;
	}
	@media (max-width: 480px) {
		.title {
			font-size: 22px;
		}
	}
}
.selected {
	color: var(--select-color);
}
.text {
	font-size: 14px;
	font-weight: 600;
	line-height: 15.4px;
	text-align: center;
	margin-top: 5px;
}
