.section {
  font-family: var(--font-family);
  margin: 0 auto;
  max-width: var(--content-max-width);
  box-shadow: 0px 0px 10px black;
  border-radius: var(--section-border-radius);
  overflow: hidden;


  .title {
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    text-align: left;
  }
  .header {
    background-color: var(--modal-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px;
  }
  .main {
    padding: 50px 15px;
    margin-bottom: 50px;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
    }
    &_title {
      font-size: 28px;
      font-weight: 700;
      line-height: 27.5px;
      text-align: left;
      margin-bottom: 25px;
    }
    &_text {
      font-size: 24px;
      font-weight: 400;
      line-height: 27.5px;
      text-align: left;
    }
  }
}
.footer {
  padding: 0 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
  &_title {
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    text-align: left;
    margin-bottom: 35px;
  }
  .input {
    margin-bottom: 35px;
    background-color: var(--modal-background);
    border: 0;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    padding: 12px;
    outline: none;
    border-radius: var(--button-border-radius);
    width: 100%;
  }
  &_left,
  &_right{
    width: 400px;
  }
}
