.wrapper {
  max-width: var(--content-max-width);
  margin: 0 auto;
  font-family: var(--font-family);
  padding: 0 15px 35px;
}
.section {
  display: flex;
  gap: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px 15px;
  justify-content: space-evenly;
  align-items: end;
}
@media (max-width: 540px) {
  .list {
    gap: 10px 5px;
    justify-content: space-between;
  }
  .homepage_item {
    width: calc(50% - 15px);
  }
}
.product_name {
  font-size: 27.42px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 10px 0;
}
@media (max-width: 540px) {
  .section {
    flex-direction: column;
    align-items: center;
  }
}

.product {
  .text {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    color: var(--subtext-color);
    cursor: pointer;
    transition: all var(--transition-ms);
    &:hover {
      text-decoration: underline;
    }
    &.active {
      font-weight: 600;
    }
  }
}

.button_more {
  margin-top: 15px;
  cursor: pointer;
  outline: none;
  width: 100%;
  border: 1px solid var(--secondary-color);
  padding: 15px;
  border-radius: var(--button-border-radius);
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family);
  transition: all var(--transition-ms);
  &:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}
