.section {
	padding: 0 15px 15px;
	max-width: var(--content-max-width);
	font-family: var(--font-family);
	margin: 0 auto;
}
.hr {
	margin-bottom: 15px;
}
.content {
	display: flex;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content_left {
	background: rgba(246, 245, 246, 1);

	width: 65%;
}
.content_right {
	width: 35%;
	background-image: url('../../../img/HomePage/bannerImg.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content_header {
	padding: 15px;
}
.content_header_title {
	font-size: 32px;
	font-weight: 500;
	line-height: 24.38px;
	text-align: left;
	margin-bottom: 10px;
}
.content_header_text {
	font-size: 32px;
	font-weight: 700;
	line-height: 24.38px;
	text-align: right;
}
.content_body {
	background: rgba(255, 0, 0, 1);
	padding: 10px 15px;
	display: flex;
	gap: 15px;
	justify-content: space-between;
	align-items: center;
}
.content_body_right {
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: var(--primary-color);
}
.content_body_title {
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-align: right;
}
.content_body_text {
	font-size: 170px;
	font-weight: 500;
	text-align: right;
}
.content_body_subtext {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-align: right;
}
.content_footer {
	padding: 45px 10px 15px;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.38px;
	text-align: left;
}

@media (max-width: 930px) {
	.content_body_text {
		font-size: 64px;
	}
}
@media (max-width: 640px) {
	.content_body_img {
		width: 25%;
	}
	.content_body_text {
		font-size: 28px;
		line-height: 100%;
	}
	.content_header_title {
		font-size: 16px;
		line-height: 100%;
	}
	.content_header_text {
		font-size: 16px;
		line-height: 100%;
	}
	.content_body_title {
		font-size: 12px;
		line-height: 100%;
	}
	.content_body_subtext {
		font-size: 10px;
		line-height: 100%;
	}
	.content_footer {
		font-size: 10px;
		line-height: 100%;
	}
	.content_left {
		width: 50%;
	}
	.content_right {
		width: 50%;
	}
}
