.Коричневий {
  background-color: rgba(177, 94, 34, 1);
}
.Чорно-білий {
  background-color: rgba(169, 170, 169, 1);
}
.Жовто-чорний {
  background-color: rgba(251, 255, 64, 1);
}
.Чорний_Black_Ghost {
  background-color: rgba(24, 23, 28, 1);
}
.Фіолетовий {
  background-color: rgb(75, 30, 80);
}
.Чорний {
  background-color: rgba(41, 44, 58, 1);
}
.Червоний {
  background-color: rgb(169, 0, 20);
}
.Жовтий {
  background-color: rgba(255, 245, 14, 1);
}
.Лимонний {
  background-color: rgba(223, 255, 37, 1);
}
.Блакитний {
  background-color: rgba(102, 144, 200, 1);
}
.Олива {
  background-color: rgba(165, 166, 5, 1);
}
.Білий {
  background-color: rgba(255, 255, 255, 1);
}
.Рожевий {
  background-color: rgba(254, 106, 164, 1);
}
.Зелений {
  background-color: rgba(20, 95, 1, 1);
}
.Бежевий {
  background-color: rgba(229, 214, 193, 1);
}
.Джинс {
  background-color: rgba(74, 122, 144, 1);
}
.Синьо-фіолетовий {
  background-color: rgba(75, 96, 158, 1);
}
.Ментол {
  background-color: rgba(120, 178, 148, 1);
}
.Помаранчевий {
  background-color: rgba(240, 131, 30, 1);
}
.Світло-сірий {
  background-color: rgba(144, 144, 144, 1);
}
.Зелена {
  background-color: rgba(5, 192, 24, 1);
}
.Антрацит {
  background-color: rgba(73, 73, 79, 1);
}
.Кремовий {
  background-color: rgba(226, 216, 206, 1);
}
.Хакі {
  background-color: rgba(79, 76, 57, 1);
}
.Пісочна {
  background-color: rgba(186, 168, 120, 1);
}
.Блакитна {
  background-color: rgba(7, 75, 178, 1);
}
.Темно-синій {
  background-color: rgba(7, 46, 113, 1);
}
.Бордо {
  background-color: rgba(78, 25, 41, 1);
}
.Чорна {
  background-color: rgba(11, 12, 14, 1);
}
.Мокко {
  background-color: rgba(146, 55, 35, 1);
}
.Графіт {
  background-color: rgba(80, 86, 93, 1);
}
.Молоко {
  background-color: rgba(229, 230, 231, 1);
}
.Мята {
  background-color: rgba(184, 189, 147, 1);
}
.Сірий {
  background-color: rgba(86, 86, 86, 1);
}
.Украина {
  background: linear-gradient(180deg, #0086f3 48.5%, #faff00 56.5%);
}
.Темно-зелений {
  background-color: rgba(57, 85, 57, 1);
}
.Бежева {
  background-color: rgba(229, 214, 193, 1);
}
.Коричнева {
  background-color: rgba(177, 94, 34, 1);
}
.Чорно-біла {
  background-color: rgba(169, 170, 169, 1);
}
.Жовто-чорна {
  background-color: rgba(251, 255, 64, 1);
}
.Чорні {
  background-color: rgba(41, 44, 58, 1);
}
.Смужка {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    #000000 72.5%,
    #ffffff 79.5%,
    #000000 100%
  );
}
.Лапка {
  background-color: rgba(101, 101, 103, 1);
}
.Сині {
  background-color: rgba(28, 34, 60, 1);
}
.Сірі {
  background-color: rgba(179, 173, 177, 1);
}
.Бежеві {
  background-color: rgba(226, 195, 168, 1);
}
.Клітина {
  background-color: (177, 177, 177, 1);
}
.Зелені {
  background-color: rgba(20, 95, 1, 1);
}
.Біла {
  background-color: rgba(255, 255, 255, 1);
}
.Червона {
  background-color: rgba(255, 0, 0, 1);
}
.Синій {
  background-color: rgba(36, 43, 75, 1);
}
.Малиновий {
  background-color: rgba(200, 38, 87, 1);
}
.Мятний {
  background-color: rgba(184, 189, 147, 1);
}
.Бірюзовий {
  background-color: rgba(9, 91, 114, 1);
}
