.Коричневий{
    background-color: rgba(177, 94, 34, 1);
  }
.Чорно-білий{
    background-color: rgba(169, 170, 169, 1);
}
.Жовто-чорний{
    background-color: rgba(251, 255, 64, 1);
} 
.Чорний_Black_Ghost{
    background-color: rgba(24, 23, 28, 1);
}
.Фіолетовий{
    background-color: rgba(159, 166, 84, 1);
}
.Чорний{
    background-color: rgba(41, 44, 58, 1);
}
.Червоний{
    background-color: rgba(217, 217, 217, 1);
}