.Коричневий {
  background-color: rgba(177, 94, 34, 1);
}
.Чорно-білий {
  background-color: rgba(169, 170, 169, 1);
}
.Жовто-чорний {
  background-color: rgba(251, 255, 64, 1);
}
.Чорний_Black_Ghost {
  background-color: rgba(24, 23, 28, 1);
}
.Фіолетовий {
  background-color: rgb(75, 30, 80);
}
.Чорний {
  background-color: rgba(41, 44, 58, 1);
}
.Червоний {
  background-color: rgb(169, 0, 20);
}
.Жовтий {
  background-color: rgba(255, 245, 14, 1);
}
.Лимонний {
  background-color: rgba(223, 255, 37, 1);
}
.Блакитний {
  background-color: rgba(102, 144, 200, 1);
}
.Олива {
  background-color: rgba(165, 166, 5, 1);
}
.Білий {
  background-color: rgba(255, 255, 255, 1);
}
.Рожевий {
  background-color: rgba(254, 106, 164, 1);
}
.Зелений {
  background-color: rgba(20, 95, 1, 1);
}
.Бежевий {
  background-color: rgba(229, 214, 193, 1);
}
.Джинс {
  background-color: rgba(74, 122, 144, 1);
}
.Синьо-фіолетовий {
  background-color: rgba(75, 96, 158, 1);
}
.Ментол {
  background-color: rgba(120, 178, 148, 1);
}
