.color_list {
  display: flex;
  gap: 20px;
  align-items: center;
  &_item {
    width: 30px;
    height: 20px;
    top: 322px;
    left: 103px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
      box-shadow: var(--border-hover);
    }

  }
}

