.banner_section_img {
  padding: 5px 10px;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: var(--button-border-radius);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 540px) {
  .banner_section_img {
    font-size: 10px;
    padding: 2px 5px;
    top: 8%;
    left: 8%;
  }
}
.warning {
  background-color: var(--banner-warning);
  color: var(--secondary-color);
}
.danger {
  background-color: var(--banner-danger);
  color: var(--primary-color);
}
.primary {
  background-color: var(--banner-primary);
  color: var(--primary-color);
}
.secondary {
  background-color: var(--banner-secondary);
  color: var(--secondary-color);
}
.success {
  background-color: var(--banner-success);
  color: var(--secondary-color);
}
