.section {
  overflow: hidden;
  border-radius: var(--section-border-radius);
  text-align: center;
}
.img {
  width: calc(100% - 30px);
  border-radius: var(--section-border-radius);
  transition: all var(--transition-ms);

}
