.wrapper {
  background: linear-gradient(
    180deg,
    #a4a4a4 0%,
    #7f7f7f 0.01%,
    #6a6a6a 0.02%,
    #3e3e3e 100%
  );
  overflow: hidden;
}
.content {
  font-family: var(--font-family);
  padding: 15px;
  color: var(--primary-color);
  max-width: var(--content-max-width);
  margin: 0 auto;
}
.title {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &_item {
    text-transform: uppercase;

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 1.600000023841858px;
      text-align: left;
    }
  }
  .list_item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
.list_item:nth-child(1){
  width: 50%;
  text-align: center;
}
@media (max-width: 908px) {
  .list{
    flex-direction: column;
    align-items: center;
  }
  .list_item:nth-child(1){
    width: 100%;
  }
  
}
.price {
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    &_item:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p:nth-child(1) {
        font-size: 20px;
        font-weight: 400;
        line-height: 30.5px;
        text-decoration: line-through;
      }

      p:nth-child(2) {
        font-size: 36px;
        font-weight: 800;
        line-height: 20px;
        letter-spacing: 2.5px;
        color: var(--select-color);
      }
    }

    
  }
}
@media (max-width: 480px) {
  .img{
    width: 100%;
  }
}

