.section {
	padding: 0 15px 15px;
	max-width: var(--content-max-width);
	font-family: var(--font-family);
	margin: 0 auto;
}
.hr {
	margin-bottom: 15px;
}

.slider_item {
	text-decoration: none !important;
	width: 100%;
	display: flex;
	justify-content: center;
}
.slider_phone {
	display: none;
}

@media (max-width: 540px) {
	.slider_desktop {
		display: none;
	}
	.slider_phone {
		display: block;
	}
}
