.section {
  font-family: var(--font-family);
  max-width: var(--content-max-width);
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;

  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 41.02px;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 75px;
  }
  .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }
  .button {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: var(--primary-color);
    border-radius: var(--button-border-radius);
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    color: var(--secondary-color);
    transition: all var(--transition-ms);
    &:hover{
      background-color: var(--secondary-color);
      color: var(--primary-color);
    }
  }
}
