.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: all var(--transition-ms);
  overflow: auto;
}
.wrapper.active {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}
.section {
  max-width: var(--content-max-width);
  font-family: var(--font-family);
  color: var(--secondary-color);
  border-radius: var(--section-border-radius);
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--secondary-color);
  margin: 0 auto;

  background-color: var(--primary-color);
  .header {
    padding: 25px;
    background-color: var(--modal-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    &_title {
      font-size: 32px;
      font-weight: 400;
      line-height: 39.01px;
      text-align: left;
    }
  }
  .footer {
    padding: 25px;
    background-color: var(--modal-background);
  }
  .main {
    padding: 35px 15px;
    .button {
      &_continue {
        font-family: var(--font-family);
        font-size: 24px;
        font-weight: 400;
        line-height: 27.5px;
        padding: 35px;
        border-radius: var(--button-border-radius);
        color: var(--secondary-color);
        background-color: var(--primary-color);
        cursor: pointer;
        transition: all var(--transition-ms);
        &:hover {
          background-color: var(--secondary-color);
          color: var(--primary-color);
        }
      }
    }
    @media (max-width: 760px) {
      .button_continue {
        padding: 15px 35px;
      }
    }
    &_list {
      display: flex;
      flex-direction: column;
      gap: 75px;
      margin-bottom: 50px;
    }
    @media (max-width: 760px){
      &_list{ 
        gap: 35px;
        margin-bottom: 15px;
      }
    }
    &_buttons {
      display: flex;
      justify-content: center;
      gap: 75px;
      flex-wrap: wrap;

      &_right {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px 10px;
        background-color: var(--modal-submit-background);
        border: 2px solid var(--button-submit);
        border-radius: var(--button-border-radius);
      }
    }
    @media (max-width: 830px) {
      .main_buttons {
        gap: 10px;
      }
    }
  }
}
.price {
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 27.5px;
  text-align: left;
  color: var(--select-color);
}
.old_price {
  font-size: 15px;
  font-weight: 300;
  line-height: 27.5px;
  text-align: left;
  text-decoration: line-through;
}
.button_submit {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 27.5px;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: var(--button-border-radius);
  background-color: var(--button-submit);
  border: 1px solid var(--button-submit);
  color: var(--primary-color);
  transition: all var(--transition-ms);
  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
}
.cart_free {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--secondary-color);
  &_img {
    max-width: 250px;
    max-height: 250px;
  }
  &_title {
    font-size: 40px;
    font-weight: 400;
    line-height: 48.76px;
    text-align: center;
  }
  &_text {
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    text-align: center;
    color: var(--subtext-color);
  }
}
.close {
  cursor: pointer;
  transition: all var(--transition-ms);
  &:hover {
    filter: invert(100%) drop-shadow(0 0 10px black);
  }
}
@media (max-width: 1030px){
  .cart_free{
    &_img{
      max-width: 125px;
      max-width: 125px;
    }
    &_title{
      font-size: 32px;
    }
    &_text {
      font-size: 24px;
    }
  }
}
 