.section {
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding: 0 15px 35px;
	font-family: var(--font-family);
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.title {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.list {
	display: flex;
	flex-wrap: wrap;
	gap: 35px 15px;
	justify-content: space-evenly;
}
.Catalog_item {
	height: 100%;
}
@media (max-width: 540px) {
	.section {
		gap: 15px;
	}
	.list {
		gap: 10px 5px;
	}
	.Catalog_item_wrapper {
		width: calc(50% - 5px);
	}
	.title {
		font-size: 22px;
	}
}
