.section {
	max-width: var(--content-max-width);
	font-family: var(--font-family);
	margin: 0 auto;
	color: var(--secondary-color);
	cursor: pointer;
}
.title {
	padding: 0 15px;
	font-size: 24px;
	font-weight: 700;
	line-height: 26.4px;
	text-align: left;
	margin-bottom: 35px;
}
.content {
	padding: 15px;
	background: rgba(246, 245, 246, 1);
	border-radius: var(--section-border-radius);
}
.content_title_list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

@media (max-width: 540px) {
	.title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.content_title_list {
		gap: 5px;
		margin-bottom: 15px;
	}
}
