.section {
	font-family: var(--font-family);
	margin: 0 auto;
	max-width: var(--content-max-width);
	padding: 35px 15px;
	.title {
		font-size: 32px;
		font-weight: 600;
		line-height: 41.02px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 35px;
	}
	.list {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
}
@media (max-width: 540px) {
	.section {
		padding: 15px;
		.title {
			font-size: 18px;
			margin-bottom: 15px;
		}
		.list {
			gap: 15px;
		}
	}
}
